---

---

<footer class="footer fs12">
  <div class="sitemap">
    <div class="sitemap-group">
      <span class="fs14">博客</span>
      <a href="/">💡 近期发布</a>
      <a href="/archives">📜 历史文章</a>
      <a href="/tags">📊 标签</a>
      <a href="/wiki">📗 文档</a>
      <a href="/timeline">🗓️ 时间轴</a>
      <a href="/links">🔗 友情链接</a>
    </div>
    <div class="sitemap-group">
      <span class="fs14">网站</span>
      <a target="_blank" rel="noopener" href="https://file.chyk.ink/">🗂️️️️ 个人网盘</a>
      <a target="_blank" rel="noopener" href="https://hel.smbx.world/">💸 喝了盘文件共享</a>
      <a target="_blank" rel="noopener" href="https://smbx.world/d/54-smbx">🍄 SMBX 地图仓库</a>
      <a target="_blank" rel="noopener" href="https://chyk.ink">🏠 首页</a>
    </div>
    <div class="sitemap-group">
      <span class="fs14">社交</span>
      <a target="_blank" rel="noopener" href="https://space.bilibili.com/485832788">📺 Bilibili</a>
      <a target="_blank" rel="noopener" href="https://github.com/chiyuki0325">🐱 GitHub</a>
      <a target="_blank" rel="noopener" href="https://t.me/s/chiyuki_cafe">🛩️ Telegram</a>
      <a target="_blank" rel="noopener" href="https://jq.qq.com/?_wv=1027&k=c0oqCyOm">🐧 QQ</a>
      <a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UC9VPn5_heoBDCOglDqeuuiA">▶️️ YouTube</a>
    </div>
    <div class="sitemap-group">
      <span class="fs14">其它</span>
      <a target="_blank" rel="noopener" href="https://status.chyk.ink/">📈 状态监控</a>
      <a target="_blank" rel="noopener" href="https://www.travellings.cn/go.html">🚇 开往•友链接力</a>
    </div>
  </div>
  <div class="text">
    <p>本博客所有文章除特别声明外，均采用 <a target="_blank" rel="noopener" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> 许可协议，转载请注明出处。</p>
    <p>本站由 <a href="https://blog.chyk.ink/">@斬風·千雪</a> 创建，使用 <a target="_blank" rel="noopener" href="https://github.com/chiyuki0325/blog-dx">UNiVERSE</a> 作为主题，您可以在 <a target="_blank" rel="noopener" href="https://github.com/chiyuki0325/blog-dx">GitHub</a> 找到本站源码。</p>
    <div>由 <a target="_blank" rel="noopener" href="https://astro.build">Astro</a> 强力驱动</div>
    <p><a target="_blank" rel="noopener" href="https://icp.gov.moe/?keyword=20212688">⛩ 萌ICP备20212688号</a></p>
  </div>
</footer>
